
<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SRK</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="" (click)="HomeClicked()">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin" (click)="AdminClicked()">ADMIN</a>
        </li>
      </ul>
    </div>
    <div>
      <button class="btn btn-success" (click)="OnSubscribe()">SUBSCRIBE</button>
    </div>
  </div>
</nav>
