<div class="container d-flex">

  <div class="d-flex">
    <div class="card w-25 my-4 mx-2">
      <div class="card-body">
        <h5 class="card-title">Prime</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam exercitationem eum, ab ea explicabo quia impedit necessitatibus, nobis laborum reprehenderit repudiandae est, vel magnam tenetur fuga dolorum facilis id ut.</p>
        <button class="btn btn-success" (click)="subscribePrime()">Subscribe</button>
      </div>
    </div>

    <div class="card w-25 my-4 mx-2">
      <div class="card-body">
        <h5 class="card-title">Hotstar</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam exercitationem eum, ab ea explicabo quia impedit necessitatibus, nobis laborum reprehenderit repudiandae est, vel magnam tenetur fuga dolorum facilis id ut.</p>
        <button class="btn btn-success" (click)="subscribeHotstar()">Subscribe</button>
      </div>
    </div>

    <div class="card w-25 my-4 mx-2">
      <div class="card-body">
        <h5 class="card-title">Netflix</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam exercitationem eum, ab ea explicabo quia impedit necessitatibus, nobis laborum reprehenderit repudiandae est, vel magnam tenetur fuga dolorum facilis id ut.</p>
        <button class="btn btn-success" (click)="subscribeNetflix()">Subscribe</button>
      </div>
    </div>
  </div>

</div>
